{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    

<header>
	<div class="overlay">
<h1>Simply The Best</h1>
<h3>KENYAN POWER HOUSE</h3>
<h2>Life of the Party</h2>
<p>Kenyan Powerhouse is a Festival Culture Blog based in Nairobi, Kenya. The brand was established in the year 2019 by Zakaria Njenga Kinyanjui with the help of a trusted group of family and close friends as a result of live performance enthusiasm.

Our mission is striving to give our audience the best experience in all matters, ‘Live Performance‘. Our vision is to showcase different festival cultures from The Motherland, Africa, and the rest of the World by 2040</p>
	<br>

	<button href="">BLOGS</button>
		</div>
</header>

      <div  class="container tab-pane active" id="all"><br>
        {{ macro.display(reviews) }}
    </div>
  
{% endblock%}