
{%macro display(review)%}
  <div class="row">
    {%for view in review%}
      <div class="col-sm-4">
      <div class="card mb-3">
          <h5 class="card-title" style="font-weight: bolder;text-transform: uppercase; font-size: 20px;">{{view.title}}</h5>
          <p class="card-text">{{view.post}}</p>
          <p class="card-text">{{view.category}}</p>
          <h6>{{view.location}}</h6><br>
          <a href="{{view.link}}" style="color: blue;">visit website</a>

          <a href="{{url_for('main.comment',review_id = view.id)}}" class="btn btn-info btn-sm" style="background-color: #B61919 ;margin-right: 131px;"> Comment</a>
      </div>
  </div>
  {%endfor%}
</div>
{%endmacro%}

<style>

</style>
